# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.MangoRestaurant.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\krash\RiderProjects\MangoRestaurant\.idea\.idea.MangoRestaurant\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignore any files in /bin and /obj Folders
**/bin/*
**/obj/*
